
h1,
h3 {
  font-family: sans-serif;
}

.header {
  text-align: center;
}

.spacer {
  padding: 5px;
  margin: 15px;
}

button {
  color: white;
  background-color: teal;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-left: 3px;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 1px 1px #888;
}

button:hover {
  position: relative;
  top: -2px;
  cursor: pointer;
}

img {
  margin: 10px;
}

img:hover {
  cursor: pointer;
}

p {
  margin-left: 10px;
}

.text {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#put-gifs-here {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#animal-input {
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;
}

#button-maker {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 12px;
  padding-left: 12px;
}
